name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.1

      - name: Permissions
        run: chmod +x bin/rubocop; chmod +x bin/brakeman; chmod +x bin/rails

      - name: Install dependencies
        run: make setup

      - name: Run tests
        run: make tests
      - name: Run linters
        run: make lint
